---
title: API Docs
---
{% assign sorted_nav = site.data.nav.toc | sort: "position" %}
{% for nav in sorted_nav %}
	{% unless nav.exclude %}
		{% assign col = site.collections | where:"id", nav.collection  | first %}
		{% if col %}
			{% assign sorted_docs = col.docs | sort: "position" %}
			{% for doc in sorted_docs %}
				{% unless doc.exclude %}    
					<section id="section-{{doc.id | slugify}}"class="row {{ doc.id | slugify }}">
						<section class="row">
							<h3>
								<a id="{{ doc.id | slugify }}">
									{{ doc.title }}
									{% if doc.type %}
										<span class="endpoint {{ doc.type }}"></span>
									{% endif %}
								</a>
							</h3>
							{% if doc.description %}
								<p class="description">{{doc.description}}</p>
							{% endif %}

							{{ doc.content | replace: "<dl>", "<h6>Parameters</h6><dl>" }}
						</section>
					</section>
				{% endunless %}	
			{% endfor %}
		{% endif %}
	{% endunless %}	
	
{% endfor %}
