{% for sections in include.api_data %}
{{ sections.description | liquify | markdownify }}
{% for method in sections.methods %}
<ul style="float: right; list-style: none;">
{% if method.since %}
<li class="success"><strong><small>Since: {{method.since}}</small></strong></li>
{% endif %}
{% if method.deprecated %}
<li class="warning"><strong><small>Deprecated</small></strong></li>
{% endif %}
{% if method.disabled %}
<li class="warning"><strong><small>Disabled</small></strong></li>
{% endif %}
{% assign keywords = method.api_method | split: '.' | split: '_' | join: ' ' | last | keywordify | escape %}
{% assign search_url = '/search/?q=' | append: keywords %}
<li class="info"><strong><small><a href="{{ search_url | relative_url }}">Related <i class="fas fa-search fa-xs"></i></a></small></strong></li>

</ul>
<h4 id="{{ method.api_method | slug }}">{{method.api_method}} <a href="#{{ method.api_method | slug}}"><i class="fas fa-link fa-xs"></i></a></h4>
{{ method.purpose | liquify | markdownify }}
<h5 id="{{ method.api_method | slug }}-parameter_json">Query Parameters JSON <a href="#{{ method.api_method | slug}}-parameter_json"><i class="fas fa-link fa-sm"></i></a></h5>
```json
{{method.parameter_json | neat_json}}
```
<h5 id="{{ method.api_method | slug }}-expected_response_json">Expected Response JSON <a href="#{{ method.api_method | slug}}-expected_response_json"><i class="fas fa-link fa-sm"></i></a></h5>
```json
{{method.expected_response_json | neat_json}}
```
{% if method.curl_examples %}
<h5 id="{{ method.api_method | slug }}-curl-examples">Example <code>curl</code> <a href="#{{ method.api_method | slug}}-curl-examples"><i class="fas fa-link fa-sm"></i></a></h5>
{% for curl in method.curl_examples %}
```bash
curl -s --data '{{curl}}' https://api.steemit.com
```
{% endfor %}
{% endif %}
---
{% endfor %}
{% endfor %}
