<div id="sidebar" class="sidebar">
	
	{% assign sorted_nav = site.data.nav.toc | sort: "position" %}
	{% for nav in sorted_nav %}
		{% assign col = site.collections | where:"id", nav.collection | first %}
		<section>
			<h6>{{ nav.title }}</h6>
				<ul>
					{% if nav.docs %}
						{% for doc in nav.docs | sort: "position" %}
							<li><a href="{{ nav.url }}#{{ doc.id | slugify }}">{{ doc.title }}</a></li>
						{% endfor %}
					{% else %}
						{% if col %}
							{% assign sorted_docs = col.docs | sort: "position" %}
							{% for doc in sorted_docs %}
								<li><a href="{{ nav.url }}#{{ doc.id | slugify }}">{{ doc.title }}</a></li>
							{% endfor %}
						{% endif %}
					{% endif %}
				</ul>
		</section>
	{% endfor %}
</div>
