---
section: Glossary
position: 1
exclude: true
exclude_nav: true
---
<p>Understanding the common terms used by the Steem blockchain is an important part of being able to build applications and tools that use it.</p>

<p>This section outlines several of the common terms.</p>

<p>More terms and information can be found on the steemit.com <a href="https://steemit.com/faq.html">FAQ</a>.</p>

<section class="row">
	<section class="row">
		<dl class="dl-horizontal glossary">
			{% for sections in site.data.glossary.index %}
			   	<h3 id="{{ sections.id }}">{{sections.name}}</h3>
			   	{% for entry in sections.items %}
			   		<section id="{{entry.term | slugify}}">
					   	<dt>{{entry.term}}</dt>
					    <dd>{{entry.def}}</dd>
				    </section>
			    {% endfor %}
				<hr/>
			{% endfor %}
		</dl>
	</section>
</section>
