---
layout: default
---
<section id="{{page.id | slugify}}" class="doc-content {{ page.id | slugify }}">
	<section class="left-docs">
		<h3>
			<a id="{{ page.id | slugify }}">
				{{ page.title }}
				{% if page.type %}
					<span class="endpoint {{ page.type }}"></span>
				{% endif %}
			</a>
		</h3>
		{% if page.description %}
			<p class="description">{{page.description}}</p>
		{% endif %}

		{{ page.content | replace: "<dl>", "<h6>Parameters</h6><dl>" }}
	</section>

	{% if page.right_code %}
		<section class="right-code">
			{{ page.right_code | markdownify }}
		</section>
	{% endif %}
</section>
