---
layout: default
---
<section id="{{page.id | slugify}}" class="doc-content {{ page.id | slugify }}">
	<section class="left-docs">
		<h3>
			<a id="{{ page.id | slugify }}">
				{{ page.title }}
				{% if page.type %}
					<span class="endpoint {{ page.type }}"></span>
				{% endif %}
			</a>
		</h3>
		{% if page.description %}
			<p class="description">{{page.description}}</p>
		{% endif %}

		{{ page.content | replace: "<dl>", "<h6>Parameters</h6><dl>" }}
	</section>
  
  {% if page.main_script or page.right_code %}
    <section class="right-code">
      {% if page.main_script %}
        <p class="right-section-title">{{ page.main_script_anchor }}</p>
        {% assign filename = page.main_script | split: '/' %}
        <code>{{ filename.last }}</code>
        {% capture main_script %}```{{page.main_type}}
{% include {{page.main_script}} %}
```{% endcapture %}
        {{ main_script | markdownify }}
      {% endif %}
      
      {% if page.right_code %}
        {{ page.right_code | markdownify }}
      {% endif %}
    </section>
  {% endif %}
  </section>
